.cuadro {
    height: 150px;
    width: 150px;
    height: 100px;
    padding: 50px 40px 30px 20px;
    border: 15px solid yellowgreen;
    border-radius: 50%;

    display: inline-flex;

}

.el-1{
    background-color: blue;
}

.el-2{
    background-color: red;
}

.el-3{
    background-color: palevioletred;
}

.el-4{
    background-color: green;
}

.el-5{
    background-color: yellow;
}