/* Estilos del botón */
.btn-gatito{
    margin: 10px auto;
    display: block;
    background-color: blueviolet;
    color: wheat; 
    padding: 10px 20px;
    border: none; 
    border-radius: 5px;
}

#btn-gatito:active {
    background-color: blueviolet;
}

/* Estilos para la imagen */
#img-gatito{
display: block;
    margin: 0 auto;
    width: 600px;
    height: 400px;
    object-fit: cover;
}